@model WebApplicationGrupp13.Models.InviteUserModel

@{
    ViewBag.Title = "InviteUsers";
}

<h2>Bjud in mötesdeltagare</h2>

<div>
    @using (Html.BeginForm("Create", "NewMeetings", FormMethod.Post, new { enctype = "multipart/form-data" })) {
    @Html.AntiForgeryToken() 
        @Html.ListBoxFor(m => m.SelectedUsers, Model.AllUsers, new { size = 5 })
        <br />
        <input type="submit" value="Submit" />
    }
</div>