@model WebApplicationGrupp13.Models.InviteUserModel

@{
    ViewBag.Title = "InviteUsers";
}

<h2>Bjud in mötesdeltagare</h2>

<div>
    @using (Html.BeginForm("ReturnToCreate", "InviteUsers", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    @Html.ListBoxFor(m => m.SelectedUsers, Model.AllUsers, new { size = 5 })
    <br />
    <input type="submit" value="Bjud in" class="btn btn-default" />
    }
</div>