@model IEnumerable<WebApplicationGrupp13.Models.FormalBlogPostCategory>

@{
    ViewBag.Title = "Kategorier";
}

<h2>Kategorier för information</h2>

<p>
    @Html.ActionLink("Lägg till ny kategori", "Create")
</p>
<table class="table">
  

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>

                @Html.ActionLink("Ta bort", "Delete", new { id = item.name })
            </td>
        </tr>
    }

</table>
<div>
    @Html.ActionLink("Tillbaka till skapa inlägg", "Create", "FormalBlogPosts")
</div>

