@{
    ViewBag.Title = "Home Page";
}

<div id="bakgrund">
    <div id="bakgrundstext">

    </div>
    <div id="bakgrundstext">
        <h1>Välkommen!</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>En modern skolportal</h2>
        <p>
            Tincidunt vitae semper quis lectus nulla. Venenatis a condimentum vitae sapien pellentesque habitant. Etiam dignissim diam quis enim lobortis scelerisque 
            fermentum. Viverra orci sagittis eu volutpat. Quis enim lobortis scelerisque fermentum.
        </p>
        <p>
            @Html.ActionLink("Logga in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Läs inlägg</h2>
        <p>
            Diam maecenas ultricies mi eget mauris pharetra et ultrices neque. Convallis posuere morbi leo urna. Tellus pellentesque eu tincidunt tortor aliquam nulla. 
        </p>
        <p>
            @Html.ActionLink("Se Blogginlägg", "Index", "FormalBlogPosts")
        </p>
    </div>
    <div class="col-md-4">
        <h2>Gå med idag</h2>
        <p>
            Scelerisque varius morbi enim nunc faucibus. Nisl nisi scelerisque eu ultrices vitae auctor eu augue. Venenatis urna cursus eget nunc scelerisque viverra mauris in. 
            Aenean euismod elementum nisi quis eleifend quam adipiscing. 
        </p>
        <p>
            @Html.ActionLink("Registrera", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        </p>
    </div>
</div>