body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.formalBlogPost{
    width: 80%;
}
.formalBlogPostContent{
    
    height: 200px;
   
}
.authorTime{
    float: right;
    font-size: 80%;
}
.uploadedFile {
    float: right;
}
.blogButtons {
    border-bottom-style: dotted;
    border-bottom-color: lightslategrey;
    border-bottom-width: 1px;
}
#bakgrund {
    background-image: url("https://static-cdn.sr.se/sida/images/159/3593021_2048_1152.jpg?preset=1200x675");
    height: 500px;
}
#bakgrundstext {
    color: lightgray;
    margin: 0 auto;
    width: 50%;
    height: 40%;
}
#bakgrundstext h1 {
    text-align: center;
}
