body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.formalBlogPost {
    width: 80%;
    border-style: solid;
    border-color: rgba(109, 109, 109, 0.3);
    box-shadow: rgba(128, 128, 128, 0.2) 2px 2px;
    border-radius: 10px;
    border-width: 1px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    margin-bottom: 30px;
}
.formalBlogPostContent{
    
    height: auto;
    padding-bottom: 40px;

   
}
.formalBlogPostComment{
    height: auto;
    margin-bottom: 10px;
    box-shadow: rgba(128, 128, 128, 0.2) 5px 5px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;

    border-style: solid;
    border-width: 0.5px;
    border-color: rgba(109, 109, 109, 0.3);
}
.formalBlogPostCommentAuthor {
   
    color: lightslategray;
    font-size: 80%;
}
.authorTime{
    float: right;
    font-size: 80%;
}
.uploadedFile {
    float: right;
}
.blogButtons {
    
}
#bakgrund {
    background-image: url("https://static-cdn.sr.se/sida/images/159/3593021_2048_1152.jpg?preset=1200x675");
    height: 500px;
}
#bakgrundstext {
    color: lightgray;
    margin: 0 auto;
    width: 50%;
    height: 40%;
}
#bakgrundstext h1 {
    text-align: center;
}

.form-control-custom {
    display: block;
    width: 100%;
    
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;

