@model IEnumerable<WebApplicationGrupp13.Models.AdminViewModel>
@using WebApplicationGrupp13.Controllers

@{
    ViewBag.Title = "Administratörsbehörighet";
}

<h2>Redigera administratörsbehörighet</h2>
<p>Välj vilka användare som ska ha administratörsberhörighet</p>
@{
    var adminControl = new AdminController();
    var adminCount = adminControl.CountAdmins(Model);
    var userCount = adminControl.CountUsers(Model);
}

@if (adminCount > 0)
{
    @Html.Partial("_AdminPartial")

}
<h3>Användare</h3>

@foreach (var item in Model)
{
    if (item.Role.Equals("User"))
    {
        <div class="row">

            <div class="col-md-4">
                <div class="profile-thumbnail">
                    <span>
                        <img src="~/Image/@Url.Content(item.Image)" alt="ProfilBild" />
                    </span>
                </div>
                <p class="userName">@item.Name</p>
                <p class="eMail">@item.Email</p>
            </div>
            <div class="col-md-8">
                <button type="button" class="btn btn-default btn-admin" onclick="location.href='@Url.Action("MakeAdmin", "Admin", new { userId = item.UserId})'">Ge adminbehörighet</button>
            </div>
        </div>
        <hr class="notificationDivider" />
    }

}


